@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

    body{
        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: aliceblue;
    }

    body{
        background-color: rgb(16, 63, 117);
    }

    .pag-in img{
        width: 300px;
        height: 100px;
    }